<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>GPS</title>

    <link rel="stylesheet" href="styles/index.css">
    
    <!-- Leaflet css -->
    <link 
        rel="stylesheet" 
        href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css"
        integrity="sha256-p4NxAoJBhIIN+hmNHrzRCf9tD/miZyoHS5obTRR9BMY="
        crossorigin=""
    />

    <!-- Leaflet routing machine css -->
    <link 
        rel="stylesheet" 
        href="https://unpkg.com/leaflet-routing-machine@latest/dist/leaflet-routing-machine.css" 
    />
</head>
<body>
    <!-- Map Container -->
    <div id="map" ></div>
    
    <!-- Javascript -->

    <!--Leaflet script-->
    <script 
        src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js"
        integrity="sha256-20nQCchB9co0qIjJZRGuk2/Z9VM+kNiyxNV1lvTlZBo="
        crossorigin="">
    </script>

    <!-- Leaflet routing machine js -->
    <script src="https://unpkg.com/leaflet-routing-machine@latest/dist/leaflet-routing-machine.js"></script>

    <script>
        console.log('*** APP WORKING ***');

        function sucess() {

            // Passenger Icon
            var passengerIcon = L.icon({
                iconUrl: "images/person-icon.png",
                iconSize: [35, 35]
            })

            var passenger = L.marker([14.6295,  121.0418], {icon: passengerIcon}).addTo(map);

            var passengerRadius = L.circle([14.6295,  121.0418], {
                color: 'gray',
                fillColor: '#D2E0FB',
                fillOpacity: 0.5,
                radius: 30
            }).addTo(map);
        
            passengerRadius.bindPopup("I am infont of CIIT Campus.");

        }

        // Error Handler
        function error (error) {
            throw new Error('Your browser is not compatible.');
        }

        // Map Initialize
        navigator.geolocation.watchPosition(sucess, error);
        
        // Jeepney Icon
        var jeepneyIcon = L.icon({
            iconUrl: "images/jeepney-icon.png",
            iconSize: [25, 25]
        })

        

        // Leaflet Map
        var map = L.map('map', {zoomControl: false}).setView([14.6295,  121.0418], 30);

        L.tileLayer('https://tile.openstreetmap.org/{z}/{x}/{y}.png', {
            maxZoom: 19,
            attribution: '&copy; <a href="http://www.openstreetmap.org/copyright">OpenStreetMap</a>'
        }).addTo(map);

        // Jeepney routes
        var ciitToAteneo = L.marker([14.6295, 121.0418], { icon: jeepneyIcon }).addTo(map); // Jeepney Marker
        ciitToAteneo.bindPopup(`<b>Capacity (4/12)</b><button>Get ride.</button>`); // Popup

        // CIIT to Ateneo
        L.Routing.control({
        waypoints: [
            L.latLng(14.6215, 121.0418),
            L.latLng(14.6396, 121.0786)
        ]
        }).on('routesfound', (e) => {

            let coordinates = [...e.routes[0].coordinates];
            let origin = e.routes[0].coordinates[0];

            console.log(origin);

            function setPosition (marker, {lat, lng}, i, coordinates) {

                setTimeout( function () {
                    marker.setLatLng([lat, lng]);

                    console.log({lat, lng});

                    if (i === coordinates.length - 1 ) {
                        console.log('*** Jeepney has arrived to the destination! ***');

                    }

                }, 900 * i);
                
            }

            for (let i = 0; i < coordinates.length; i++) {

                setPosition(ciitToAteneo, coordinates[i], i, coordinates);

            }

        }).addTo(map);
       
    </script>
</body>
</html>

<!-- TODO: Make jeepneys go back to origin. -->