* {
    border: 0;
    padding: 0;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
}

#map {
    height: 100vh;
    width: 800px;  
}

div.leaflet-top.leaflet-right{ 
    display: none !important; 
    width: 0px  !important;
    height: 0px  !important; 
}